/* COLORES */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, 'Sigmar One', cursive;
  font-size: 10px;
  color: #E0E2DB;
  box-sizing: border-box; }

body {
  background-color: #400406; }

a {
  text-decoration: none; }

.navbar {
  background-color: #755C1B;
  -webkit-box-shadow: 0px 10px 19px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 10px 19px 1px rgba(0, 0, 0, 0.21); }
  .navbar .navbar-nav .nav-link {
    color: #E0E2DB; }

.logo--img {
  width: 100px;
  margin-top: .5rem; }

.nav-link {
  font-size: 1.6rem; }

.carousel__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px; }
  .carousel__container #carouselExampleCaptions {
    width: 90%; }
    .carousel__container #carouselExampleCaptions .carousel {
      border-radius: 10px; }

.containerMain {
  position: relative;
  width: 100%; }

.containerMainJuegos {
  position: relative;
  width: 100%;
  margin-top: 200px; }

.wave {
  position: absolute;
  top: 50%;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: -1; }

.wave2 {
  position: absolute;
  bottom: 50%;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: -1; }

.wave-juegos {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1; }

/*/////Colecciones y juegos /////*/
.main--colection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0; }
  .main--colection h2 {
    text-align: left;
    font-size: 3.5rem;
    font-family: 'Sigmar One';
    margin: 20px 0;
    text-decoration: underline; }
  .main--colection .main--colection__first {
    margin-top: 100px; }
  .main--colection .colection_container {
    display: flex;
    width: 100%;
    height: 316px;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x proximity; }
    .main--colection .colection_container .colection--item {
      position: relative;
      scroll-snap-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #515A47;
      border-radius: 10px;
      width: 220px;
      height: 250px;
      min-width: 220px;
      max-width: 200px;
      margin: 0 15px;
      -webkit-box-shadow: 4px 10px 12px -1px rgba(0, 0, 0, 0.44);
      box-shadow: 4px 10px 12px -1px rgba(0, 0, 0, 0.44); }
      .main--colection .colection_container .colection--item span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -17px;
        width: 80px;
        height: 35px;
        border-radius: 8px;
        background-color: #D7BE82;
        color: #400406;
        font-size: 1.6rem;
        font-weight: 700; }
      .main--colection .colection_container .colection--item .item--img {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .main--colection .colection_container .colection--item .item--img img {
          width: 200px; }
      .main--colection .colection_container .colection--item .colection--img img {
        width: 121px; }
      .main--colection .colection_container .colection--item p {
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
        margin: 30px 0; }

/*/////Contacto/////*/
.contact {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  margin-top: 60px;
  margin-bottom: 100px; }

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; }
  .contact__container h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center; }

.contact__container-form {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .contact__container-form .input {
    background-color: transparent;
    border-bottom: 2px solid #E0E2DB;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 20px; }
  .contact__container-form .input::placeholder {
    color: #E0E2DB; }
  .contact__container-form .textarea {
    border: 2px solid #E0E2DB;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    padding: 20px;
    background: transparent; }
  .contact__container-form .textarea::placeholder {
    color: #E0E2DB;
    font-size: 1.6rem; }
  .contact__container-form .boton {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px; }

/*///// Nosotros /////*/
#aboutUs {
  margin-top: 80px; }
  #aboutUs h2 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 40px;
    text-decoration: underline;
    text-align: center; }

.aboutUs-text {
  min-height: 320px; }
  .aboutUs-text p {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 5px;
    margin: 0 40px; }

.aboutUs__imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 20px; }
  .aboutUs__imagenes img {
    width: 100%; }

/*/////Footer/////*/
#footer {
  display: flex;
  align-items: center;
  margin-top: 200px;
  justify-content: space-between; }

.socialMedia-item {
  padding-left: 10px; }
  .socialMedia-item img {
    width: 25px; }

.footer__info {
  margin-right: 10px;
  margin-bottom: 5px; }

.info-item {
  font-size: 1.6rem; }

/* Media Queries */
@media only screen and (min-width: 530px) {
  .main--cover {
    background-position-y: -10px; }
  .colection_container-noFlow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 316px; } }

@media only screen and (min-width: 750px) {
  .carousel__container #carouselExampleCaptions {
    width: 70%; }
  .main--cover {
    height: 400px; }
    .main--cover .cover_container {
      top: 334px; }
  .index__colectionContainer {
    justify-content: center; } }

@media only screen and (min-width: 1000px) {
  .main--cover {
    height: 400px;
    background-position-y: -50px; }
  .main--colection {
    overflow-x: hidden; }
    .main--colection .colection_container {
      overflow-x: hidden;
      height: 400px; }
      .main--colection .colection_container .colection--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #515A47;
        border-radius: 10px;
        width: 270px;
        height: 273px;
        margin: 0 15px;
        cursor: pointer; }
      .main--colection .colection_container .colection--item:hover {
        transform: scale(1.1);
        transition: .5s; }
    .main--colection .colection_container-wrap {
      flex-wrap: wrap;
      justify-content: center;
      height: 800px; }
  .juegos__colectionContainer {
    justify-content: center; }
  .contact {
    margin-bottom: 130px; }
  #aboutUs {
    display: flex;
    align-items: center;
    margin: 80px 20px; }
    #aboutUs .aboutUs__container {
      margin-bottom: 230px;
      margin-right: 80px;
      width: 50%; }
    #aboutUs .aboutUs__imagenes {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3, 300px);
      gap: 10px;
      grid-template-areas: "img1 img1" "img2 img3" "img4 img4"; }
      #aboutUs .aboutUs__imagenes .img1 {
        grid-area: img1; }
        #aboutUs .aboutUs__imagenes .img1 img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #aboutUs .aboutUs__imagenes .img2 {
        grid-area: img2; }
        #aboutUs .aboutUs__imagenes .img2 img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #aboutUs .aboutUs__imagenes .img3 {
        grid-area: img3; }
        #aboutUs .aboutUs__imagenes .img3 img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #aboutUs .aboutUs__imagenes .img4 {
        grid-area: img4; }
        #aboutUs .aboutUs__imagenes .img4 img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #aboutUs .aboutUs__imagenes .img5 {
        grid-area: img5; } }

@media only screen and (min-width: 1250px) {
  .colection_container {
    justify-content: center; }
  .main--colection .colection_container-wrap {
    height: 400px; } }
