@import "_colores";
@import "_mixins.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: $white;
  box-sizing: border-box;
}

body {
  background-color: $background;
  box-sizing: border-box;
}

.logo--img {
  width: 100px;
  margin-top: .5rem;
}

.nav-link {
  font-size: 1.6rem;
}

.main--cover {
  background-image: url(../img/fortniteCover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-width: 320px;
  height: 300px;
  margin-bottom: 150px;

  .cover_container {
    position: relative;
    top: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cover--img {
      width: 160px;
    }
    
    .cover--info {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 1.8rem;
        font-weight: 900;
        padding: 1rem 1rem;
      }
    }
  }
}

/*/////Colecciones y juegos /////*/

.main--colection {
  @include flexColumn;
  margin-bottom: 60px;

  h2 {
    text-align: left;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 40px;
    text-decoration: underline;
  }

  .colection_container {
    display: flex;
    width: 100%;
    height: 316px;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x proximity;

    .colection--item {
      position: relative;
      scroll-snap-align: center;
      @include flexColumn;
      background-color: $violeta;
      border-radius: 10px;
      width: 220px;
      height: 250px;
      min-width: 220px;
      max-width: 300px;
      margin: 0 15px;

      span {
        @include flexCenter;
        position: relative;
        top: -17px;
        width: 80px;
        height: 35px;
        border-radius: 8px;
        background-color: $offWhite;
        color: $black;
        font-size: 1.6rem;
        font-weight: 700;
      }

      .item--img {
        height: 100px;
        @include flexCenter;
        img {
          width: 200px;
        }
      } 

      .colection--img img {
        width: 121px;
      }

      p {
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
        margin: 30px 0;
      }
    }
  }
}

/*/////Contacto/////*/

.contact {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.contact__container {
  @include flexColumn;
  width: 300px;

  h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
} 

.contact__container-form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .input {
    background-color: transparent;
    border-bottom: 2px solid $white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 20px;
  }

  .input::placeholder {
    color: $white;
  }

  .textarea {
    border: 2px solid $white;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    padding: 20px;
    background: transparent;
  }

  .textarea::placeholder {
    color: $white;
    font-size: 16px;
  }

  .boton {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
}

/*///// Nosotros /////*/

#aboutUs {
  margin-top: 80px;

  h2 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    text-decoration: underline;
    text-align: center;
  }
}

.aboutUs-text {
  min-height: 320px;

  p {
    font-size: 1.6rem;
    padding: 5px;
    margin: 0 40px;
  }
}

/*/////Footer/////*/

#footer {
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: space-between;
}

.socialMedia-item {
  padding-left: 10px;
}

.footer__info {
  margin-right: 10px;
  margin-bottom: 5px;
}

.info-item {
  font-size: 1.6rem;
}

/* Media Queries */

@media only screen and (min-width: 530px) {

  .main--cover {
    background-position-y: -10px;
  }

  .colection_container-noFlow {
    @include flexCenter;
    width: 100%;
    height: 316px;
  }
}

@media only screen and (min-width: 750px) {

  .main--cover {
    height: 400px;

    .cover_container {
      top: 334px;
    }
  }

  .index__colectionContainer {
    justify-content: center;
  }
}

@media only screen and (min-width: 1000px) {

  .main--cover {
    height: 400px;
    background-position-y: -50px;
  }

  .main--colection {
    overflow-x: hidden;

    .colection_container {
      overflow-x: hidden;
    }
  }
  
  .juegos__colectionContainer {
    justify-content: center;
  }
}