@import "_colores";
@import "_mixins.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: $white;
  box-sizing: border-box;
}

body {
  background-color: $background;
  box-sizing: border-box;
}

.logo--img {
  width: 100px;
  margin-top: .5rem;
}

.nav-link {
  font-size: 1.6rem;
}

#carouselExampleCaptions {
  margin-bottom: 80px;
}

/*/////Colecciones y juegos /////*/

.main--colection {
  @include flexColumn;
  margin-bottom: 60px;

  h2 {
    text-align: left;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 40px;
    text-decoration: underline;
  }

  .colection_container {
    display: flex;
    width: 100%;
    height: 316px;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x proximity;

    .colection--item {
      position: relative;
      scroll-snap-align: center;
      @include flexColumn;
      background-color: $violeta;
      border-radius: 10px;
      width: 220px;
      height: 250px;
      min-width: 220px;
      max-width: 300px;
      margin: 0 15px;

      span {
        @include flexCenter;
        position: relative;
        top: -17px;
        width: 80px;
        height: 35px;
        border-radius: 8px;
        background-color: $yellow;
        color: $black;
        font-size: 1.6rem;
        font-weight: 700;
      }

      .item--img {
        height: 100px;
        @include flexCenter;
        img {
          width: 200px;
        }
      } 

      .colection--img img {
        width: 121px;
      }

      p {
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
        margin: 30px 0;
      }
    }
  }
}

/*/////Contacto/////*/

.contact {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.contact__container {
  @include flexColumn;
  width: 300px;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
} 

.contact__container-form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .input {
    background-color: transparent;
    border-bottom: 2px solid $white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 20px;
  }

  .input::placeholder {
    color: $white;
  }

  .textarea {
    border: 2px solid $white;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    padding: 20px;
    background: transparent;
  }

  .textarea::placeholder {
    color: $white;
    font-size: 1.6rem;
  }

  .boton {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
}

/*///// Nosotros /////*/

#aboutUs {
  margin-top: 80px;

  h2 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    text-decoration: underline;
    text-align: center;
  }
}

.aboutUs-text {
  min-height: 320px;

  p {
    font-size: 1.6rem;
    padding: 5px;
    margin: 0 40px;
  }
}

.aboutUs__imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 20px;

  img {
    width: 100%;
  }
}

/*/////Footer/////*/

#footer {
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: space-between;
}

.socialMedia-item {
  padding-left: 10px;
}

.footer__info {
  margin-right: 10px;
  margin-bottom: 5px;
}

.info-item {
  font-size: 1.6rem;
}

/* Media Queries */

@media only screen and (min-width: 530px) {

  .main--cover {
    background-position-y: -10px;
  }

  .colection_container-noFlow {
    @include flexCenter;
    width: 100%;
    height: 316px;
  }
}

@media only screen and (min-width: 750px) {

  .main--cover {
    height: 400px;

    .cover_container {
      top: 334px;
    }
  }

  .index__colectionContainer {
    justify-content: center;
  }
}

@media only screen and (min-width: 1000px) {

  .main--cover {
    height: 400px;
    background-position-y: -50px;
  }

  .main--colection {
    overflow-x: hidden;

    .colection_container {
      overflow-x: hidden;
      height: 400px;
      
      .colection--item {
        @include flexColumn;
        background-color: $violeta;
        border-radius: 10px;
        width: 270px;
        height: 273px;
        margin: 0 15px;
        cursor: pointer;
      }

      .colection--item:hover {
        transform: scale(1.1);
        transition: 1s;
      }
    }
  }
  
  .juegos__colectionContainer {
    justify-content: center;
  }

  .contact {
    margin-bottom: 130px;
  }

  #aboutUs {
    display: flex;
    align-items: center;
    margin: 80px 20px;

    .aboutUs__container {
      margin-bottom: 230px;
      margin-right: 80px;
      width: 50%;
    }

    .aboutUs__imagenes {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3, 300px);
      gap: 10px;
      grid-template-areas: "img1 img1"
                           "img2 img3"
                           "img4 img4";
      
      .img1{
        background-color: red;
        grid-area: img1;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .img2{
        background-color: red;
        grid-area: img2;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .img3{
        background-color: red;
        grid-area: img3;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .img4{
        background-color: red;
        grid-area: img4;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .img5{
        background-color: red;
        grid-area: img5;
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  
  .colection_container {
    justify-content: center;
  } 
}